body {
    background-color: rgba(224, 227, 226, 1);
    font-family: "Gill Sans", sans-serif;
    font-size: 20px;
    color: white;
    overflow-x: hidden;
}

.content {
    color: black;
    box-sizing: content-box;
    margin-top:8vh;
}

.sidebar {
    background-color: rgba(95, 137, 180, 1);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.06) inset;
    font-weight: bolder;
    z-index:3;
}
.header {
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.1);
    height: 8vh;
    z-index: 2;
    align-items: center;
    box-sizing: content-box;
}

.logo {
    background-color: rgba(119, 153, 189, 0.9);
    font-family: Georgia, serif;
    font-weight:400;
    padding-left: 10px;
    
}

.flex-row.active{
    background-color: rgba(255,255,255,0.1);
}

a {
    text-decoration:none;
    color:white;

}

.paginate_button {
    border-radius:10px !important;
}



td, th {
    text-align: center;
    vertical-align: middle;
    
}
.hidden-column{
    display:none;
}

#autocompleteList {
    max-height: 150px;
    position: relative;
    overflow: auto;
    padding-bottom: 0;
    padding-top: 0;
}

.new-client-btn {
    width: 100%;
    border-radius: 0 !important;
}

.dateDay {
    font-size: 10px;
    padding-top: 0px;
    margin: 0;
}

.month {
    font-size: 10px;
    text-align: center;
}

/* Класс для ячейки с 1 */
.cell-red {
    background-color: red;
    color: red;
    font-size: 0;
}

/* Класс для ячейки с 0 */
.cell-green {
    background-color: green;
    color: green;
    font-size: 0;
}

td {
    user-select: none;
}

.no-select {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
