@{
    ViewBag.Title = "Услуги";
}

<main>
    <div class="m-4">
        <h1>Услуги</h1>
    </div>
    <section class="row w-75 m-4 pt-4 pb-4 d-flex">
        <div class="col-6">
            <div class="input-group">
                <input type="search" class="form-control" id="searchInput" placeholder="Найти по названию" aria-label="Search" aria-describedby="search-addon">
            </div>
        </div>
        <button type="button" class="btn btn-primary col-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
            Добавить
        </button>
    </section>
    <div class="container px-4">
        <div class="w-100 row g-2">

            <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
             
                <h2>Детская кровать в номер</h2>
                <p>
                    Дополните уровень удобства и комфорта для наших маленьких гостей,
                    предоставив опцию детских кроваток в номерах.
                </p>
                <div class="row">
                    <button type="button" class="col m-4  btn btn-primary ">
                        Изменить
                    </button>
                    <h3 class="col m-3 p-3">1500₽</h3>
                </div>

            </div>

            
        </div>
    </div>

</main>
