@{
    ViewBag.Title = "Услуги";
}

<main>
    <div class="m-4"> 
    <h1 >Услуги</h1>
    </div>
    <section class="row w-75 m-4 pt-4 pb-4 d-flex">
        <div class="col-6">
            <div class="input-group">
                <input type="search" class="form-control" id="searchInput" placeholder="Найти по названию" aria-label="Search" aria-describedby="search-addon">
            </div>
        </div>
        <button type="button" class="btn btn-primary col-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
            Добавить
        </button>
    </section>
    <div class="container px-4">
        <div class="w-100 row g-2">

            <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
                <h2>Детская кровать в номер</h2>
                <p>
                    Дополните уровень удобства и комфорта для наших маленьких гостей,
                    предоставив опцию детских кроваток в номерах.
                </p>
                <div class="row">
                    <button type="button" class="col m-4  btn btn-primary ">
                        Изменить
                    </button>
                    <h3 class="col m-3 p-3">1500₽</h3>
                </div>

            </div>

            <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
                <h2>Уроки для рыбной ловли</h2>
                <p>
                    Организуйте уроки рыбной ловли с опытными инструкторами.
                    Гости смогут научиться различным методам ловли рыбы.
                </p>
                <div class="row">
                    <button type="button" class="col m-4  btn btn-primary ">
                        Изменить
                    </button>
                    <h3 class="col m-3 p-3">4500₽</h3>
                </div>

            </div>

            <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
                <h2>Спа-услуги на природе и в отеле</h2>
                <p>
                    Организуйте SPA-процедуры.
                    Гости смогут расслабиться под шум воды и насладиться природой во время процедур.
                </p>
                <div class="row">
                    <button type="button" class="col m-4  btn btn-primary ">
                        Изменить
                    </button>
                    <h3 class="col m-3 p-3">8500₽</h3>
                </div>

            </div>
        </div>
    </div>
            </br>
        <div class="container px-4">
            <div class="w-100 row g-2">

                <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
                    <h2>Вечерние костры и звездные наблюдения</h2>
                    <p>
                        Организуйте вечерние мероприятия вокруг костра,
                        где гости смогут насладиться грилем и живой музыкой.
                    </p>
                    <div class="row">
                        <button type="button" class="col m-4  btn btn-primary ">
                            Изменить
                        </button>
                        <h3 class="col m-3 p-3">2000₽</h3>
                    </div>

                </div>
                <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
                    <h2>Прокат велосипедов и пешие прогулки</h2>
                    <p>
                        Предложите гостям велосипеды для проката
                        или маршруты для пеших прогулок в окрестностях озера.
                    </p>
                    <div class="row">
                        <button type="button" class="col m-4  btn btn-primary ">
                            Изменить
                        </button>
                        <h3 class="col m-3 p-3">2000₽</h3>
                    </div>

                </div>
                <div class="bg-success-subtle m-3 p-3 w-25 h-25 col border border-black rounded-1 text-center">
                    <h2>Сервис с едой к вам в номер</h2>
                    <p>
                        Расширьте возможности для наших гостей.
                        Это позволит вам наслаждаться изысканными завтраками.
                    </p>
                    <div class="row">
                        <button type="button" class="col m-4  btn btn-primary ">
                            Изменить
                        </button>
                        <h3 class="col m-3 p-3">3000₽+</h3>
                    </div>

                </div>
            </div>
        </div>

</main>
